.card-holder::-webkit-scrollbar {
    width: 10px; 

 }

.card-holder::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.card-holder::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}
.card-holder::-webkit-scrollbar-corner {
    border-radius: 10px;

}
.event-card-holder::-webkit-scrollbar {
  width: 10px; 

}

.event-card-holder::-webkit-scrollbar-track {
background-color: rgb(255, 255, 255);
border-radius: 10px;
}

.event-card-holder::-webkit-scrollbar-thumb {
background: #4e4e4e;
border-radius: 25px;
}
.event-card-holder::-webkit-scrollbar-corner {
  border-radius: 10px;

}
#event-card-holder:first-child {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(247, 4, 4);
  text-transform: uppercase;
  
}
.event-card-holder{  
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 300px;
  height: 600px;

  
    margin: 1em;
    padding: 1em;
    
    border-radius: 1.25rem;
    background-color: rgb(152, 93, 223);  
        ;

}
  .card-holder {  
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    width: 300px;
    height: 600px;

    
      margin: 1em;
      padding: 1em;
      box-shadow: #310f3fd7 10px 10px 0 0;
      border-radius: 1.25rem;
      background-color: #985fdf;  
          ;

  }

.card {
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
width: 250px;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: 1.25rem;
  
    margin: 1em;
    padding: 1em;
    box-shadow: #310f3fd7 4px 4px 0 0;
  



  }
  .card-title{
      font-size: 24px;
  }
  .synopsis{
    font-size: 16px
  }
  .card-body{
      display: flex;
    flex-direction: column;

    
  }
  .newsFeed{
     color: white;
     margin-left: 125px;
  }
  .cardHeader {
      display: flex;
      flex-direction: column;
    justify-content: space-between;
  }

  .cardHolderHeader{
      
   
    display: flex;
    flex-direction: row;
  justify-content: space-around;



  
}
.postArticleButton{
  margin-top: 15px;
  padding-left: 75px;
}

  .buttons{
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: baseline;

  }



  
  
  /* CSS */
  .button-7 {
    background-color: #2b0855;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .button-7:hover,
  .button-7:focus {
    background-color: #07c;
  }
  
  .button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-7:active {
    background-color: #0064bd;
    box-shadow: none;
  }